
.venv/
venv/
env/
ENV/


.env

!.env.example

__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp


Thumbs.db
.DS_Store

# Hide approach document
approach_document.md
